*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(206.57deg, #679CF6 16.67%, #4072EE 100%) ;
}


.BoxWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url('./images/bg1.png')no-repeat left bottom fixed;
    background-size: contain;
    padding: 96px;
}


.SignUp {
    width: 611px;
    background: #1F2327;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formWrapper {
    font-family: 'Roboto', sans-serif;
    width: 451px;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
}

.formWrapper header h2 {
    font-size: 48px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
}

.formWrapper header span {
    font-size: 16px;
    color: #748AA1;
}

.formWrapper form {
    background: #292E33;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin-top: 37px;
    border-radius: 5px;
}

.Box {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow: hidden;
}


.Box label {
    color: #748AA1;
    font-size: 12px;
    padding: 6px;
}

.Box input {
    padding:10px 15px;
    font-size: 16px;
    background: #292E33;
    border: 1px solid #33393F;
    border-radius: 5px;
    color: #fff;
    outline: none;
    transition: 0.3s;
}




.errorbox {
    width: 100%;
    font-size:12px;
    padding: 6px;
    color: red;
}


#Signup {
    margin: 30px 0;
    background: #29CB97;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    height: 51px;
    color: #fff;
    transition: 0.5s;
}

#Signup:hover {
    transition: 0.5s;
    background: linear-gradient(90deg, rgba(39,84,70,1) 0%, rgba(54,124,101,1) 35%, rgba(41,203,151,1) 100%);
}



#SelectCountry {
    padding:10px 15px;
    font-size: 16px;
    width: 100%;
    background: none;
    border: 1px solid #33393F;
    border-radius: 5px;
    color: #fff;
    outline: none;
    transition: 0.3s;
    z-index: 2;
}

#SelectCountry option {
    background: #292E33;
    padding: 10px;
    border: 0;
}

.SelectCountry {
    display: flex;
    position: relative;
}

.SelectCountry span {
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 14px;
    color: #748AA1;
    z-index: 1;
}

.boxrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 31px;
    justify-content:space-between;
    padding: 0;
}


.RowBox {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.RowBox label {
    color: #748AA1;
    font-size: 12px;
    padding: 6px;
}

.RowBox input {
    padding:10px 15px 10px 15px;
    font-size: 16px;
    width: 181px;
    background: #292E33;
    border: 1px solid #33393F;
    border-radius: 5px;
    color: #fff;
    outline: none;
}


.socialBtn  {
    font-family: 'Roboto', sans-serif;
    width: 451px;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.socialBtn button {
    width: 204px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

.Fb1 {
    background: #255B9B;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}
.Fb1:hover {
    background: #2670c9;
    text-decoration: underline;
}

.Fb2 {
    background: #00ADEE;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}
.Fb2:hover {
    background: #186e8d;
    text-decoration: underline;
}

